[submodule "rtpengine"]
	path = rtpengine
	url = https://github.com/ProVoice/rtpengine.git
	branch = mr9.3
[submodule "bcg729"]
	path = bcg729
	url = https://github.com/ProVoice/bcg729.git
	branch = provoice/1.1.1
